.main{   
    width: 15%; 
    position: fixed;    
    margin: 0;
    padding: 0;
    top: 40px;
    left:0;
}
#verticalList{
    list-style-type: none;  
    background-color:#ddd; 
    width: 100%; 
    margin:0;
    padding: 0;
    

}
#verticalList li a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    display: block;
    padding: 8px 8px;
    font-size: 1.25em;
    text-align: left;    
}
#verticalList li a:hover{
    background-color:#333;
    color:white
}
#verticalList .active{
    background-color: green;
    color: white;
}