body{
    background-size: cover;
    background-image: url("../Images/background001.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    border: 1px dotted blue;
    color: green;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 80px;
    margin-right: 170px;
    padding: 20px 20px;
}
p{
    margin: 20px 50px 80px 80px;
}
.german{
    width: 300px;
    margin:auto;
    padding: 10px;
    border:1px solid red;
    box-sizing: border-box;
}